$colorNegro: black;
$colorNaranja: orange;
$backgroundCeleste: rgba(68, 162, 240, 0.938);
$backgroundAzul: rgba(48, 48, 238, 0.863);
$backgroundWhite: rgba(233, 222, 222, 0.877);
$widthImagenes: 65vw;
$marginColumn: 10vw;
